parameters:
    level: max
    paths:
        - app/Logging
        - Modules/Core/Services/WordPress
        - Modules/WordPress/app
    tmpDir: storage/framework/phpstan
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkImplicitMixed: true
    reportUnmatchedIgnoredErrors: true
    scanFiles:
        - bootstrap/app.php
